
body {
  background: #c39797;
  padding: 20px;
}
h1 {
  color: #794044;
  text-align: center;
  font-size: 40px;
  margin: 10px auto;
}
p {
  font-size: 20px;

  margin: 10px auto 40px auto;
}
div.message {
  width: 500px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
  padding: 20px;
  font-style: italic;
  font-size: 15px;
  background: #eee;
}
button {
  margin: 50px auto;
}
